* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_4878 {
  width: 390px;
  height: 844px;
  background: url("../images/v1_4878.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4879 {
  width: 284px;
  height: 47px;
  background: rgba(251,242,253,1);
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 53px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_4880 {
  width: 284px;
  height: 47px;
  background: rgba(251,242,253,1);
  opacity: 1;
  position: absolute;
  top: 273px;
  left: 53px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_4881 {
  width: 185px;
  height: 28px;
  background: rgba(109,141,91,1);
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 102px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_4882 {
  width: 284px;
  height: 47px;
  background: rgba(251,242,253,1);
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 53px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_4883 {
  width: 134px;
  color: rgba(149,95,121,1);
  position: absolute;
  top: 286px;
  left: 128px;
  font-weight: ExtraLight;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_4884 {
  width: 203px;
  color: rgba(149,95,121,1);
  position: absolute;
  top: 351px;
  left: 100px;
  font-weight: ExtraLight;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_4885 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 598px;
  left: 126px;
  font-weight: ExtraLight;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}