* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v12_4992 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_4991 {
  width: 471px;
  height: 869px;
  background: url("../images/v12_4991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(251,242,253,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1_4805 {
  width: 270px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 217px;
  left: 60px;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v1_4988 {
  width: 395px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 550px;
  left: 2px;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
